.board-container {
	display: flex;
	flex-direction: row;
}

.board-main {
	flex: 3;
}
.board-sidepanel {
	flex: 1;
	background: #eee;
	padding: 2em;
}

.actions {
	display: grid;
	grid-template-columns: repeat(6, fr);
	grid-template-rows: repeat(3, fr);
	grid-template-areas:
		"roll roll roll  distribute distribute distribute"
	    "swap swap swap  take take take"
	    "buy buy restart restart end end";
}

.actions > div {
	border: 1px solid darkgrey;
}

.action-roll {
	grid-area: roll;
}
.action-distribute {
	grid-area: distribute;
}
.action-swap {
	grid-area: swap;
}
.action-take-coins {
	grid-area: take;
}
.action-buy-card {
	grid-area: buy;
}
.action-restart-turn {
	grid-area: restart;
}
.action-end-turn {
	grid-area: end;
}

.transfer {
	display: grid;
	grid-template-areas:
		"card card card"
		"from giving ."
		"amount amount amount"
		". receiving to";
	border-bottom: 1px solid #333;
}

.transfer-card {
	grid-area: card;
	display: grid;
	justify-content: center;
}
.transfer-from {
	grid-area: from;
}
.transfer-giving {
	grid-area: giving;
	display: grid;
	justify-content: center;
}
.transfer-amount {
	grid-area: amount;
	display: grid;
	justify-content: center;
}
.transfer-receiving {
	grid-area: receiving;
	margin-top: 5px;
	display: grid;
	justify-content: center;
}
.transfer-to {
	grid-area: to;
}