
.card {
	background: #eee;
	width: 200px;
	height: 250px;
	display: inline-flex;
	position: relative;
	margin: 5px;
	padding: 1em;
	animation: shrink 500ms;
	animation-fill-mode: forwards;
}

.card.highlight {
	animation: grow 1000ms;
	animation-fill-mode: both;
}

@keyframes grow {
	0% {
		transform: scale(1.0);
		box-shadow: 0px 0px 0px #000000;
		z-index: 1;
	}
	100% {
		transform: scale(1.05);
		box-shadow: 0px 0px 50px #000000;
		z-index: 10;
	}
}

@keyframes shrink {
	0% {
		transform: scale(1.05);
		box-shadow: 0px 0px 50px #000000;
		z-index: 10;
	}
	100% {
		transform: scale(1.0);
		box-shadow: 0px 0px 0px #000000;
		z-index: 1;
	}
}

.card.card-yellow {
	background: #ffc;
}

.card.card-blue {
	/*background: lightblue;*/
}

.card.card-purple {
	background: #fcf;
}

.card.card-green {
	background: lightgreen;
}

.card.card-red {
	background: #f66;
}

.card-top {
}

.card-bottom {
	position: absolute;
	bottom: 0px;
}

.roll {
	text-align: center;
}

.label {
	text-align: center;
	margin-top: 1em;
}

.description {
	margin-top: 5em;
	text-align: center;
}

.cost {
	margin-bottom: 1em;
}