
body {
	font-family: arial;
}

.card {
	background: #eee;
	width: 180px;
	height: 240px;
	display: inline-flex;
	position: relative;
	margin: 2px;
	padding: 0;
	animation: shrink 500ms;
	animation-fill-mode: forwards;
	z-index: 50;
	display: inline-grid;
	grid-template-rows: 1fr 1fr 1fr 4fr 3em;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas:
		". roll count"
	    "label label label"
	    "menu menu menu"
	    "description description description"
	    "cost . .";
}

.card-symbol {
	vertical-align: middle;
}

.card.highlight {
	animation: grow 1000ms;
	animation-fill-mode: both;
}

@keyframes grow {
	0% {
		transform: scale(1.0);
		box-shadow: 0px 0px 0px #000000;
		z-index: 1;
	}
	100% {
		transform: scale(1.05);
		box-shadow: 0px 0px 50px #000000;
		z-index: 10;
	}
}

@keyframes shrink {
	0% {
		transform: scale(1.05);
		z-index: 10;
	}
	100% {
		transform: scale(1.0);
		z-index: 1;
	}
}

.card.multiple {
	box-shadow: 1em 1em 1em;
}

.card.card-yellow {
	background: yellow;
}

.card.card-blue {
	background: deepskyblue;
}

.card.card-purple {
	background: mediumpurple;
}

.card.card-green {
	background: limegreen;
}

.card.card-red {
	background: orangered;
}

.roll {
	padding: 5px;
	text-align: center;
	grid-area: roll;
}

.count {
	background: #eee;
	padding: 5px;
	text-align: right;
	grid-area: count;
}

.label {
	text-align: center;
	vertical-align: middle;
	grid-area: label;
}

.menu {
	grid-area: menu;
}

.description {
	text-align: center;
	grid-area: description;
}

.cost {
	grid-area: cost;
}