
.coin-outer {
	display: inline-grid;
	grid-template-areas: "thing";
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	background: gold;
	padding: 2px;
	height: 1.5em;
	width: 1.5em;
	border-radius: 2em;
	box-shadow: 2px 2px orange inset;
}


.coin-inner {
	display: grid;
	grid-area: thing;
	background: gold;
	box-shadow: -2px -2px orange inset;
	height: 100%;
	color: saddlebrown;
	border:1px solid silver;
	align-items: center;
	justify-content: center;
	border-radius: 2em;
	font-weight: bold;
}

