
.coin-outer {
	width: 2em;
	height: 2em;
	padding: 0.5em;
	background: gold;
	border-radius: 3em;
	text-align: center;
	box-shadow: 2px 2px orange inset;
	grid-template-columns: repeat(1fr, 3);
	grid-template-rows: repeat(1fr, 3);
	grid-template-areas:
		". . ."
		". x ."
		". . ."
}

.coin-inner {
	width: 1em;
	height: 1em;
	padding: 0.5em;
	background: gold;
	border-radius: 3em;
	text-align: center;
	grid-area: x;
	box-shadow: -2px -2px orange inset;
	color: saddlebrown;
}